@import "normalize.scss";
@import "foundation.scss";
@import "fonts";

body {
	overflow-x: hidden;
}
// begin header
.top-bar {
	.name {
		h1 {
			a {
				color: $primary-color;
				padding: 0;
				line-height: rem-calc(88);
				span {
					color: #F1B09B;
				}
			}
		}
	}
	.toggle-topbar.menu-icon a {
		margin-right: -18px;
	}
}
.top-bar-section {
	@media #{$medium-up} {
		li:not(.has-form),
		li.active:not(.has-form) {
			&:last-child a:not(.button){
				padding-right: 0;
			}
			a:not(.button) {
				height: $topbar-height;
				line-height: rem-calc(90);
				padding: rem-calc(0 14);
				font-size: rem-calc(16);
			}
		}
	}
}

// end header
// begin ba-slider
.ba-wide-line {
	position: relative;
	&:before,
	&:after {
		position: absolute;
		content: "";
		display: block;
		height: 60px;
		background: rgba(232, 96, 60, .5);
		width: 256%;
		top: 0;
	}
	&:before {
		right: 100%;
	}
	&:after {
		left: 100%;
	}
}
.ba-slide {
	&__title {
		color: #FFF;
		margin: rem-calc(0 0 15);
		@media #{$small-only} {
			margin: 0;
		}
	}
	&__description {
		font-size: 12px;
	}
	&__caption {
		max-width: 415px;
		padding: rem-calc(22);
		margin: rem-calc(35);
		:last-child {
			margin-bottom: 0;
		}
		@media #{$small-only} {
			margin: 0;
			max-width: 100%;
			p {
				display: none;
			}

		}
	}
}
.ba-slider__thumbnails {
	padding: 20px 0;
}
// end ba-slider
// begin ba-features

.ba-features {
	padding-top: 20px;
	&__title {
		margin-bottom: 22px;
		h2 {
			padding-left: 80px;
		}
		img {
			float:left;
			margin-left: 10px;
		}
		:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	.button {
		padding: 10px 15px 8px;
		font-size: 12px;
	}
}
// end ba-features
// begin ba-works
.ba-works {
	&__headline {
		background: url(../img/line.png);
		background-repeat: repeat-x;
		margin: 20px 0;
	}
	span {
		display: inline-block;
		background: url(../img/background.jpg);
		margin: 0;
		padding-right: 20px;

	}
	&__item {
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	&__body {
		border: 1px solid #dcdcdc;
		border-top: none;
		padding: 15px;
	}
	&__title {
		margin-top: 0;
		a {
			color: #b9b9b9;
			&:hover{
				color: $primary-color;
			}

		}
	}
	&__date {
		margin-bottom: 0;
		color: $primary-color;
		font-family: $header-font-family;
		font-size: 11px;
	}
}
// end ba-works
// begin ba-footer
.ba-footer {
	.ba-wide-line {
		&:after,
		&:before {
			height: 100%;
		}
	}
	&__inner {
		color: #FFF;
		font-size: 12px;
		background: $primary-color;
	}
	&__item {
		padding: 35px 35px 0;
		a {
			color: #fff;
		}
	}
	&__title {
		color: #fff;
	}
}
.ba-tweet {
	a,
	span {
		color: #F1B09B;
	}
	&__follow {
		a {
			color: #F1B09B;
		}
	}
}
.ba-social {
	margin-top: 15px;
	a {
		display: inline-block;
		width: 30px;
		height: 31px;
		background-image: url(../img/social-icons.png);
	}
	&__fb {
		background-position: 0 0;
	}
	&__tw {
		background-position: -35px 0;
	}
	&__email {
		background-position: -70px 0;
	}
	&__rss {
		background-position: -105px 0;
	}
	&__vimeo {
		background-position: -140px 0;
	}
}
// end ba-footer
